* {
    margin: none;
    padding: none;
    text-decoration: none;
}
body{
    color: #343434;
}

header {
    background-color: #015958;
    padding:30px;

}
header h1{
    margin-left: 30px;
    color: white;
}
nav a{
    color: white;
    margin-left: 20px;
}
nav a:hover{
    opacity: calc(0.8);
}
main {
    margin: auto;
    width: 800px;
}
span{
    color: purple;
}
footer {
    background-color: #015958;
    padding: 30px;
}
footer h3{
    color: white;
    margin-left: 30px;
}